/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* --- Normalize --- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/* font: inherit; */
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
    margin: 2rem 0;
}

/*  --- Own styles --- */

body {
    width: 1200px;
    font-family: Georgia, serif;
    background-image: url(../img/ice_age.png);
    /* background-color: bisque; */
}

main{
    background-color: white;
}

aside {
    margin: 2rem;
}

nav {
    padding-top: 3rem;
}

nav a {
    text-decoration: underline;
    display: block;
    margin: 1rem;
    font-size: 20px;
    font-weight: bold;
}
nav a:active {
    text-decoration: none;
}

.list-circle{
    list-style-type:circle;
}
  
dl {
    display: inline-block;
    position: relative;
}
  
dt {
    margin: 10px;
    font-size: 22px;
}

.slide {
    position: static;
    width: 100%;
    text-align: center;
}

.container {
    margin: 0 auto;
    border-right: 1rem solid white;
    border-left: 1rem solid white;
}

.overflow{
	height: 500px;
	overflow: hidden;
}
  
.title {
    position: absolute;
    display: none;
    color: #131313;
    font-family: Georgia, serif;
    text-align: center;
    font-size: 3em;
    padding: 5px;
}
  
.logo {
    position: absolute;
    width: 250px;
    top: 330px;
    background-color: white;
    border: 5px solid black;
    margin: 2rem;
    padding: 0.5rem;
}
  
.main-title {
    background-color: black;
    color: yellow;
    display: block;
    text-align: center;
    font-size: 2rem;
    padding: 1rem 1rem 1rem 15rem;
    text-transform: uppercase;
}

.main-section {
    display: inline-block;
    justify-content: center;
}

.main-section dd {
    padding-bottom: 1em;
}

.main-section h3 {
    font-weight: bold;
}

section{
    width: 800px;
    vertical-align: top;
    margin: 6rem 0;
}

h1,h2,h3,h4,h5,h6,p,ol,ul,li,dl,dt {
	margin-bottom: 1rem;
    line-height: normal;
    text-align: justify;
}

ol, ul, li {
    margin-left: 8px;
}

th, td {
    padding: 1rem;
    vertical-align: middle;
}

th{
    font-weight: bold;
    text-align: left;
    background-color: black;
    color: #fff;
}
tr {
    border: 1px solid black;
}

.date {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

footer {
    justify-content: center;
    display: flex;
    background: #609e96;
    color: white;
    align-content: center;
    padding: 1rem;
}

/*** GROW SKEW button styles  ***/
.ov-btn-grow-skew {
    background: #fff;
    color: #609e96;
    border: 2px solid #609e96;
    padding: 16px 20px;
    border-radius: 3px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: flex;
    align-items: center;
    text-decoration: none;
    flex-direction: column;
  }

  .ov-btn-grow-skew:hover {
    color: #fff;
  }
  .ov-btn-grow-skew::after {
    content: "";
    background: #609e96;
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.3s ease;
  }
  .ov-btn-grow-skew:hover::after {
    transition: all 0.3s ease-out;
    transform: skewX(-45deg) scale(1, 1);
  }