/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* --- Normalize --- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/* font: inherit; */
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
    margin: 2rem 0;
}

/*  --- Own styles --- */

body {
    width: 1200px;
    font-family: Georgia, serif;
    background-image: url(../img/ice_age.png);
    /* background-color: bisque; */
}

main{
    background-color: white;
}

aside {
    margin: 2rem;
}

nav {
    padding-top: 3rem;
}

nav a {
    text-decoration: underline;
    display: block;
    margin: 1rem;
    font-size: 20px;
    font-weight: bold;
}
nav a:active {
    text-decoration: none;
}

.list-circle{
    list-style-type:circle;
}
  
dl {
    display: inline-block;
    position: relative;
}
  
dt {
    margin: 10px;
    font-size: 22px;
}

fieldset, legend {
    padding: 1rem;
    border: #000 solid 1px;
    margin-bottom: 1rem;
}

form{
	padding:16px;
	border-radius:10px;
	margin:auto;
	background-color:#f5f5f5cc;
}

form label{
	display:inline-block;
    margin: 10px 10px;
}

form input[type="text"],
form input[type="email"]{
	width:180px;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#fff;
	margin:8px 0;
	display:inline-block;
}

#submit{
    background: #609e96;
    color: #fff;
    border: 2px solid #609e96;
    padding: 16px 20px;
    border-radius: 3px;
    position: relative;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

#submit:hover{
    background: #fff;
    color: #609e96;
}

.slide {
    position: static;
    width: 100%;
    text-align: center;
}

.container {
    margin: 0 auto;
    border-right: 1rem solid white;
    border-left: 1rem solid white;
}

.overflow{
	height: 500px;
	overflow: hidden;
}
  
.title {
    position: absolute;
    display: none;
    color: #131313;
    font-family: Georgia, serif;
    text-align: center;
    font-size: 3em;
    padding: 5px;
}
  
.logo {
    position: absolute;
    width: 250px;
    top: 330px;
    background-color: white;
    border: 5px solid black;
    margin: 2rem;
    padding: 0.5rem;
}
  
.main-title {
    background-color: black;
    color: yellow;
    display: block;
    text-align: center;
    font-size: 2rem;
    padding: 1rem 1rem 1rem 15rem;
    text-transform: uppercase;
}

.main-section {
    display: inline-block;
    justify-content: center;
}

.main-section dd {
    padding-bottom: 1em;
}

.main-section h3 {
    font-weight: bold;
}

section{
    width: 800px;
    vertical-align: top;
    margin: 6rem 0;
}

h1,h2,h3,h4,h5,h6,p,ol,ul,li,dl,dt {
	margin-bottom: 1rem;
    line-height: normal;
    text-align: justify;
}

ol, ul, li {
    margin-left: 8px;
}

th, td {
    padding: 1rem;
    vertical-align: middle;
}

th{
    font-weight: bold;
    text-align: left;
    background-color: black;
    color: #fff;
}
tr {
    border: 1px solid black;
}

.date {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

footer {
    justify-content: center;
    display: flex;
    background: #609e96;
    color: white;
    align-content: center;
    padding: 1rem;
}

/*** GROW SKEW button styles  ***/
.ov-btn-grow-skew {
    background: #fff;
    color: #609e96;
    border: 2px solid #609e96;
    padding: 16px 20px;
    border-radius: 3px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: flex;
    align-items: center;
    text-decoration: none;
    flex-direction: column;
  }

  .ov-btn-grow-skew:hover {
    color: #fff;
  }
  .ov-btn-grow-skew::after {
    content: "";
    background: #609e96;
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.3s ease;
  }
  .ov-btn-grow-skew:hover::after {
    transition: all 0.3s ease-out;
    transform: skewX(-45deg) scale(1, 1);
  }

    /*** Modal  ***/
    /* Refactor convert pug to html and sass to css */
    /* https://codepen.io/AlvaroFelipe/pen/WvXgqb */

    #modal {
        background: rgba(0, 0, 0, .9);
        color: #fff;
        position: fixed;
        top: -100vh;
        left: 0;
        height: 100vh;
        width: 100vw;
        transition: all 0.5s;
   }
    #modal iframe {
        width: 60%;
        height: 40%;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        font-size: 1.5em;
        text-align: center;
   }
    #see-modal, #see-modal2, #see-modal3,
    #see-modal4, #see-modal5, #see-modal6,
    #see-modal7, #see-modal8, #see-modal9 {
        display: none;
   }
    #see-modal + label, #see-modal2 + label,
    #see-modal3 + label, #see-modal4 + label,
    #see-modal5 + label, #see-modal6 + label,
    #see-modal7 + label, #see-modal8 + label,
    #see-modal9 + label {
        background: #609e96;
        color: #fff;
        padding: 0em 0.3em;
        cursor: pointer;
        border-radius: 50%;
   }
    #see-modal + label:hover, #see-modal2 + label:hover,
    #see-modal3 + label:hover, #see-modal4 + label:hover,
    #see-modal5 + label:hover, #see-modal6 + label:hover,
    #see-modal7 + label:hover, #see-modal8 + label:hover,
    #see-modal9 + label:hover {
        background: #609e96;
   }
    #see-modal:checked ~ #modal,
    #see-modal2:checked ~ #modal,
    #see-modal3:checked ~ #modal,
    #see-modal4:checked ~ #modal,
    #see-modal5:checked ~ #modal,
    #see-modal6:checked ~ #modal,
    #see-modal7:checked ~ #modal,
    #see-modal8:checked ~ #modal,
    #see-modal9:checked ~ #modal {
        top: 0;
        z-index: 99;
   }
    #see-modal:checked ~ #close-modal + label,
    #see-modal2:checked ~ #close-modal + label,
    #see-modal3:checked ~ #close-modal + label,
    #see-modal4:checked ~ #close-modal + label,
    #see-modal5:checked ~ #close-modal + label,
    #see-modal6:checked ~ #close-modal + label,
    #see-modal7:checked ~ #close-modal + label,
    #see-modal8:checked ~ #close-modal + label,
    #see-modal9:checked ~ #close-modal + label {
        position: fixed;
        display: block;
        top: 17%;
        right: 17%;
   }
    #close-modal {
        display: none;
   }
    #close-modal + label {
        position: fixed;
        top: 1em;
        right: 1em;
        z-index: 100;
        color: #fff;
        font-weight: bold;
        cursor: pointer;
        background: #609e96;
        width: 25px;
        height: 25px;
        line-height: 25px;
        text-align: center;
        border-radius: 50%;
        display: none;
        transition: all 0.5s;
   }
    #close-modal:checked ~ #modal {
        top: -100vh;
        z-index: 100;
   }
    #close-modal:checked + label {
        display: none;
   }